// Colors

:root {
    --main-color: #001443;
    --blue: #142b60;
    --green: #009fae;
    --white-03: rgba(255, 255, 255, 0.336);
    --white-01: rgba(255, 255, 255, 0.336);
    --white-hover: rgba(255, 255, 255, 0.116);
    --gray: #707070;
}
