.blog_slider {
    background-color: var(--main-color);
    color: white;
    padding: 120px 0;
    .swiper-slide {
        width: fit-content;
    }
    .blog_item {
        width: 700px;
        padding: 20px;
        display: flex;
        border: 1px solid rgba(255, 255, 255, 0.247);
        .image {
            img {
                aspect-ratio: 32/20;
            }
        }
        .content {
            padding: 15px 0 0;
            padding-right: 20px;
        }
    }
    .arrows {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 18px;
        padding: 30px 0;
    }
}
.blogs_grid {
    .blog_item {
        .content {
            width: 50%;
            h3 {
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 10px;
            }
            p {
                font-size: 12px;
                font-weight: 500;
                margin-bottom: 10px;
            }
            .view_btn {
                float: right;
            }
        }
        .image {
            width: 50%;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
@media (max-width: 991px) {
    .blog_slider {
        padding: 50px 0;
        .blog_item {
            padding: 10px;
            flex-direction: column;
            width: fit-content;
            > * {
                width: 100% !important;
            }
            .content {
                padding: 0;
                margin-bottom: 16px;
            }
        }
    }
}
