.hero {
    position: relative;
    .slider {
        overflow: hidden;
    }
    .swiper-slide {
        height: 100vh;
        min-height: 700px;
        display: flex;
        align-items: center;
        .content {
            max-width: 1002px;
            position: relative;
            text-align: left;
            color: white;
            z-index: 2;
        }
        svg {
            display: inline-block;
        }
        h1 {
            font-size: 73px;
            font-weight: 800;
            margin-bottom: 24px;
            display: inline-block;
            i {
                font-style: italic;
                font-weight: 300;
            }
        }
        .desc {
            display: inline-flex;
            flex-direction: column;
            width: 499px;
            padding-left: 14px;
            transform: translateY(-22px);
            p {
                margin-bottom: 24px;
            }
        }
        p {
            font-size: 16px;
            font-weight: 500;
        }
    }
    .bg_img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            left: 0;
            top: 108px;
            bottom: 0;
            background-color: var(--main-color);
            opacity: 0.5;
            mix-blend-mode: multiply;
        }
    }
    .custom_pagination {
        position: absolute;
        width: 100%;
        right: 0;
        left: 0;
        bottom: 100px;
        z-index: 3;
        .wrapper {
            align-items: center;
            width: fit-content;
            margin-left: auto;
            gap: 20px;
        }
        .arrow {
            cursor: pointer;
            svg {
                display: block;
            }
        }
        .swiper-pagination {
            position: static;
            width: 170px;
            height: 2px;
            display: flex;
            align-items: center;
            background-color: white;
            border-radius: 10px;
            margin-left: auto;
        }
        .swiper-pagination-progressbar-fill {
            top: -2px;
            bottom: auto;
            height: 6px;
            background-color: white;
        }
    }
    .primary_btn {
        width: fit-content;
    }
    .yb_play_btn{
        position: absolute;
        bottom: 60px;
        left: 90px;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
            content: "";
            position: absolute;
            background-image: url(../images/compass.svg);
            background-size: contain;
            width: 450px;
            height: 450px;
            z-index: -1;
            animation: rotate linear 10s infinite;
        }
        .pop_open {
            cursor: pointer;
        }
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 991px) {
    .hero {
        .bg_img {
            &::after {
                top: 56px;
            }
        }
        .swiper-slide {
            min-height: auto;
            .text {
                width: 100%;
            }
            svg {
                width: 100px;
                height: auto;
            }
            h1 {
                font-size: 48px;
            }
            .desc{
                margin-top: 16px;
                padding-left: 0;
                width: 100%;
                transform: unset;
            }
        }
        .yb_play_btn{
            bottom: 120px;
            left: 20px;
            svg{
                width: 70px;
                height: auto;
            }
            &::after {
                width: 290px;
                height: auto;
                aspect-ratio: 1/1;
            }
        }
        .custom_pagination {
            bottom: 45px;
            .swiper-pagination {
                margin-left: 0;
                margin-right: auto;
            }
        }
        .bottom_img {
            bottom: -12%;
            width: 95%;
        }
    }
}
